:root {
  --bacground-color: #ffffff;
  --primary-color: #555555;
  --second-color: #ffffff;
  --third-color: #303030;
  --services-color: #9da4bd;
  --second-background: #f7f7f7;
  --acent-color: #ff6c00;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--acent-color);
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}
/* -------------------header------------------------- */

.list .site-nav {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.header-container {
  display: flex;
  align-items: center;
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .link {
  color: var(--second-color);
}
.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--acent-color);
}
.contact-tel {
  display: flex;
  margin-left: auto;
    color: var(--second-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  align-items: center;
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--acent-color);
}
.header-btn{
  margin-left: 40px;
  color: var(--second-color);
}

.header-logo {
   margin-right: 70px;
}
.header-item {
  margin-top: 0;
}

.site-nav .header-item:not(:last-child) {
  margin-right: 50px;
}

/* -------------------------HERO--------------------------------- */
.hero .container {
    display: flex;
  }
.sidebar {
  width: 90px;
  color: var(--third-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.sidebar:focus,
.sidebar:hover {
  color: var(--acent-color);
}
.hero-content {
  background-color: #303030;
  padding: 272px 96px 206px 96px;
  flex-grow: 1;
}
.hero-title {
    color: rgba(157, 164, 189, 0.6);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.title-barber {
    color: var(--primary-color);
  /* заменить цвет */
  font-size: 72px;
  line-height: 1.18;
}
.text-hero {
   color: var(--services-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* -----------------ABOUT-------------------------- */
.about {
  padding-top: 169px;
  padding-bottom: 121px;
}
.about .container {
  display: flex;
  
}
.about-list {
  display: flex;
  margin-right: 64px;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-us {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-color);
}
.about-title {
  padding-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--third-color);
}
.about-bottom {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.about-text {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.btn-online {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--third-color);
}
/* --------------PRICE------------------------- */
.price  {
    padding-top: 130px;
  padding-bottom: 130px;
  background-color: #303030;
}

.price-top {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.price-title {
  padding-bottom: 44px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-color);
}
.price-wrap {
  display: flex;
}
.price-list {
  border: 1px dashed #ffffff;
  padding: 30px 40px;
  flex-grow: 1;
}
.price-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.price-item:last-child {
  margin-bottom: 0;
}
.price-btn {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  font-family: "Open Sans" sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-color);
}

/* ------------------BENEFITS----------------------- */
.benefits-container {
  padding-top: 143px;
  padding-bottom: 137px;
}
.benefits-item {
  width: 170px;
  height: 133px;
  border: 1px solid #000000;
  padding: 20px 24px;
}
.benefits-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}
.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--third-color);
  display: block;
  text-align: center;
}
.benefits-descriptios {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--third-color);
  text-align: center
}
.benefits-top {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-color);
}
.benefits-title {
  padding-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--third-color);
}
.benefits-text {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}


/* Masters */
.masters-container {
  padding: 130px 15px;
}
.masters-top {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-color);
}
.masters-title {
  padding-bottom: 44px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--third-color);
}
.masters-item:not(:last-child) {
  margin-right: 30px;
}

.masters-list {
  display: flex;
}
.masters-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--third-color);
}
.masters-descriptions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--acent-color);
}
.masters-descript {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Portfolio */
.portfolio-container {
  padding-top: 144px;
  padding-bottom: 116px;
}
.portfolio-list {
  display: flex;
}
.portfolio-item:not(:last-child) {
  margin-right: 30px;
}
.portfolio-text {
  padding-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-color);
}
/* Connection */
.connection {
  background-color: #555555;
}
.connection-container {
  padding: 130px 0px;
}
.contacts-link {
  text-decoration: none;
}
.contacts-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-link-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.connection-online {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-color);
}
.connection-tel {
  padding-bottom: 40px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-color);
}
.connection-works {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.connection-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-item {
  font-style: normal;
  margin-bottom: 10px;
}
.contacts-list {
  padding-bottom: 70px;
}
/* FOOTER */
.footer-container {
  padding-top: 57px;
  padding-bottom: 57px;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  text-decoration: none;
}
.footer-item:focus,
.footer-item:hover {
  color: var(--acent-color);
}
