:root {
  --bacground-color: #ffffff;
  --primary-color: #555555;
  --second-color: #ffffff;
  --third-color: #303030;
  --services-color: #9da4bd;
  --second-background: #f7f7f7;
  --acent-color: #ff6c00;
}
p,h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}
ul,ol{
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
.container {
  width: 1200px;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.link{
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header */
.list {
  list-style: none;
}
.list .site-nav{
  font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}
.site-nav {
  display: flex;
}
.site-nav .link {
  color: var(--third-color);
}
.site-nav .link:focus,
.site-nav .link:hover{
    color: var(--acent-color);
}
.contact-tel{
  display: flex;
    color: var(--primary-color);
    /* заменить цвет */
font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.contact-tel:hover,
.contact-tel:focus{
  color: var(--acent-color);
}
.online {
  font-family: 'Open Sans' sans-serif;
    font-weight: 600;
    color: var(--primary-color);
        /* заменить цвет */
    font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
  }
  /* Hero */
  .sidebar{
      color: var(--third-color);
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
          letter-spacing: 0.2em;
          }
  .sidebar:focus, .sidebar:hover{
      color: var(--acent-color);
  }
  .hero-title {
      color: rgba(157, 164, 189, 0.6);
        font-weight: 600;
            font-size: 11px;
            line-height: 1.36;
              letter-spacing: 0.1em;
              text-transform: uppercase;
  }
  .title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
  .title-barber {
      color: var(--primary-color);
          /* заменить цвет */
    Font-size: 72px;
     line-height: 1.18;
  }
.content-hero{
    color: var(--services-color);
    font-size: 18px;
    line-height: 1.67;
     letter-spacing: 0.02em;
}
.about-us {
  font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--third-color);
}
.about-title {
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--third-color);
}
.about-bottom {
  font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}
.about-text{
  font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}
.btn-online{
  font-family: 'Open Sans';
   font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
      color: var(--third-color);
}
/* Price */
.price-top {
  font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
      color: rgba(157, 164, 189, 0.6);
}
.price-title{
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--second-color);
}
.price-item {
  font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}
.price-btn{
  font-family: 'Open Sans' sans-serif;
  font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
      color: var(--second-color);
}
/* benefits */
.benefits-numbers {
  font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
     letter-spacing: 0.05em;
    color: var(--third-color);
}
.benefits-descriptios {
  font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--third-color);
}
.benefits-top{
  font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--third-color);
}
.benefits-title {
  font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
      color: var(--third-color);
}
.benefits-text {
  font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
      color: var(--primary-color);
}
/* Masters */
.masters-top {
  font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--third-color);
}
.masters-title {
  font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
      color: var(--third-color);
}
.masters-name {
  font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--third-color);
    }
    .masters-descriptions {
      font-weight: 400;
        font-size: 14px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--acent-color);
    }
    /* Portfolio */
    .portfolio-text {
      font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
              color: var(--third-color);
    }
    /* Connection */
    .connection {
      background-color: #555555;
    }
    .contacts-link {
      text-decoration: none;
    }
    .contacts-link {
      font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: #9DA4BD;
    }
    .contacts-link-mail{
      font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
            letter-spacing: 0.02em;
        color: #9DA4BD;
    }
    .connection-online {
      font-family: 'Raleway';
        font-weight: 700;
        font-size: 42px;
        line-height: 1.17;
        letter-spacing: 0.05em;
              color: var(--second-color);
    }
    .connection-tel {
      font-family: 'Raleway';
        font-weight: 700;
        font-size: 42px;
        line-height: 1.17;
        letter-spacing: 0.05em;
              color: var(--second-color);
    }
    .connection-works{
      font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
     color: #FFFFFF;
    }
      .connection-time{
        font-weight: 400;
          font-size: 18px;
          line-height: 1.67;
          letter-spacing: 0.02em;
                  color: #9DA4BD;
      }
/* FOOTER */
.footer-copy {
  font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
     letter-spacing: 0.2em;
      color: #9DA4BD;
}
.footer-item{
  font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
      color: #303030;
      text-decoration: none;
}
.footer-item:focus,
.footer-item:hover {
  color: var(--acent-color);
}